# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
const config={
    apiKey: "AIzaSyB667OhCOZG9NKeN7mjsjkBlSlTbrPy_qM",
    authDomain: "practicereactjs-1cfcb.firebaseapp.com",
    projectId: "practicereactjs-1cfcb",
    storageBucket: "practicereactjs-1cfcb.appspot.com",
    messagingSenderId: "184914223083",
    appId: "1:184914223083:web:49b116a9641157b19203ae"
  };
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
